.tasks {
	margin: auto;
	text-align: center;
	height: 100%;
}

.tasks__item {
	display: inline-block;
	position: relative;
	width: 50%;
	border: 1px solid gray;
	height: 100%;
	overflow-y: auto;
	min-width: 500px;
}

.newTask {
	text-align: center;
	font-size: 1em;
	margin-bottom: 20px;
}

.newTask__name {
	margin: 5px 10px;
	font-size: 1.6em;
}

.newTask__description {
	position: relative;
	width: 90%;
}

.newTask > * {
	margin: 5px 20px;
	text-align: center;
}

.newTask__delete {
	margin-left: 10px;
	color: white;
	font-size: 2em;
	float: right;
}

.newTask:hover .newTask__delete {
	visibility: visible;
	color: #999;
}

.newTask:hover .newTask__delete:hover {
	color: blue;
}

[data-state="done"] {
	color: blue;
}

[data-state="done"] + .button {
	display: none;
}

@media (max-width: 530px) {
	.tasks__item {
		min-width: 0;
		border-left: none;
		border-right: none; 
		width: 100%;
	}
}